.friendList {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.item {
  display: flex;
  align-items: center;
  height: 120px;
  width: 400px;
  box-shadow: 2px 3px 6px 0px rgba(153, 153, 153, 1);
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}
